* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    list-style-type: none;
   

}

body {
    background-image: url(https://cdn.discordapp.com/attachments/513741788918579228/894219601112600576/unknown.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    width:100%;
}


nav {
    display:block;
    height:80px;
    width:100%;
    background-color: rgb(19, 18, 18);
}

nav ul {
    margin: -40px 0;
}

nav ul li {                                 
    list-style: none;
    display:inline-flex;
    float:right;
    margin: 0 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
  

  .logo {
      height:70px;
      margin: 0 60px;
      cursor: pointer;
     
  }



  




#section1 {
    margin:20px;
    padding:20px;
    width: 950px;
    height:290px;
    background:#1f1f1f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.computadora .titulo h1 {
    text-align:center;
    padding:10px;
}

.computadora .imagen img {
    height:250px;
    padding:10px;
    float:right;
}

.computadora .componentes ul {
    float:left;
    padding:10px;
}

.computadora .componentes ul li {
    font-size:18px;
}

.div1 {
    display: flex;
    justify-content: center;

    
}
/*--------------------------------------------*/




.computadora2 .titulo2 h1 {
    text-align:center;
    padding:10px;
}

.computadora2 .imagen2 img {
    width: 200px;
    float: right;
    margin-right: 20px;
    
    
}
 

.computadora2 .componentes2 ul {
    float:left;
    padding:10px;
}

.computadora2 .componentes2 ul li {
    font-size:18px;
}


#section2 {
    margin:20px;
    padding:20px;
    width: 800px;
    height:290px;
    background:#1f1f1f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
   
.div3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*--------------------------------------------*/

.computadora3 .titulo3 h1 {
    text-align:center;
    padding:10px;
}

.computadora3 .imagen3 img {
    width: 200px;
    float: right;
    margin-right: 20px;
    
    
}
 

.computadora3 .componentes3 ul {
    float:left;
    padding:10px;
}

.computadora3 .componentes3 ul li {
    font-size:18px;
}


#section3 {
    margin:20px;
    padding:20px;
    width: 900px;
    height:290px;
    background:#1f1f1f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
   
.div4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price {
    color: aqua;
    margin-top: 40px;
}